.sidebar-container {
  clear: right;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #eeeeee;
}
