

@import 'variables';

$mobile-menu-button: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAAgCAYAAACFM/9sAAABAUlEQVR42u2XTQrCMBBGR1Ai5gA9hGfwAu6La8/QTa/TtYfxBIILl6K4MP1bRGdbLEaEyTR8hUcJBIY8hmQ+6vvea4aIdAOBEKhPYOeuPs/zKFRVFSRwMye/XcjB9YIFNreTeoHH1VqccIH3MwQOONgMAsU6sH1c1AvkjlDbgYx2gYwZWZsv0GAfffjTyL5ggXyQWGAOxCANgf8J7Brf1s675xsnQ938JtBEIKkksjPk90s5uB6SCJLIVJIIOjD9JML3UmHl4HrJJRHVcyCSCAZpCJx0Eon1hQrMZvIk9Qrzy1gKwvUwByKJIIkgiWgRyPeSpLzSIokgiWCQRhKBwCEvwLSRj8/zxTMAAAAASUVORK5CYII=');
$mini-nav-text-color: #000;
$secondary-border-color: #000;

// Mini nav
.mini-nav {
  font-size: .65em;
  margin-bottom: 8px;
  margin-top: 15px;
  @media screen and (max-width: $break-small) {
    display: none;
  }
}

.list-inline {
  list-style: none;
  margin-left: -5px;
  margin-right: 10px;
  padding-left: 0;
}

.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;

  a {
    color: $mini-nav-text-color;
  }
}

// Mobile primary nav button

.nav-dropdown {
  position: absolute;
  right: 16px;
  top: 0;
}

.nav-dropdown-button {
  display: none;

  @media screen and (max-width: $break-small) {
    background-image: $mobile-menu-button;
    background-position: 0 top;
    background-repeat: no-repeat;
    border: 0;
    display: block;
    height: 33px;
    overflow: hidden;
    padding: 0;
    text-decoration: none;
    text-indent: -100%;
    width: 40px;

    &.active {
      background-position: -40px top;
      border: 0;
      color: $csun-red;
    }
  }
}

// Header main

.header {
  margin: 10px;

  // Logo
  .csun-logo {
    float: left;
    margin-top: 5px;
    @media screen and (min-width: $break-large) {
      background-image: $csun-logo-large;
      height: 43px;
      width: 160px;
    }
    @media screen and (max-width: $break-small) {
      background-image: $csun-logo-small;
      height: 29px;
      width: 107px;
    }
  }

  // Wordmarks
  .wordmark {
    text-align: center;
    
    &.secondary-wordmark {
      font-size: 24px;
      font-weight: bold;
    }

    &.tertiary-wordmark {
      font-size: 22px;
    }
    @media screen and (min-width: $break-large) {
      border-left: 1px solid $secondary-border-color;
      display: inline-block;
      float: left;
      font-weight: normal;
      line-height: 26px;
      margin-bottom: .1em;
      margin-left: 10px;
      padding: 0 16px;
      white-space: pre;
    }

    @media screen and (max-width: $break-large) {
      white-space: nowrap;
    }
  }
}
