/**
 * Card
 */

.chatbot-card {
    border: 2px solid #eaeaea;
    border-radius: 4px;
    flex: 1 0 auto;
    overflow: hidden;
    width: 320px;
    display: inline-block;
}

.card-img {
    display: block;
    height: auto;
    width: 100%;
}

.card-content {
    padding: 24px;
}

.card-title {
    font-weight: bold;
}

.card-copy {
    margin: 0;
}

.card-btn-wrapper {
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
    width: 320px;

    .btn {
        margin: .5rem .25rem 0;
    }
}
