@import 'variables';



.navbar {
  background-color: $csun-red;
  height: 43px;
  margin-bottom: 10px;

  .navbar-link-wrapper {
    display: block;
    height: auto;
    overflow: visible;
    padding-bottom: 0;
    text-align: center;
    visibility: visible;
    @media screen and (max-width: $break-small) {
      display: none;
    }

    .navbar-center {
      display: inline-block;
      float: none;
      list-style: none;
      vertical-align: top;
    }

    .web-nav {
      border-left: 0;
    }

    .navbar-nav > li {
      float: left;
      padding-bottom: 10px;
      padding-top: 10px;

      &:first-child > a {
        border-left: 0;
      }

      a {
        border-left: 1px solid $nav-bar-border-color;
        color: $nav-bar-text-color;
        font-family: 'museo-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: bold;
        line-height: 1.25;
        padding: 0 25px;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
  @media screen and (max-width: $break-small) {
    height: 2px;
  }
}
