@import "variables";

.navbar-body {
  background-color: #cf0a2c;
  height: 43px;
  @media screen and (max-width: $break-small) {
    height: 2px;
  }
}

.web-nav {
  border-left: none;
}

  .navbar-center {
    display: inline-block;
    float: none;
    vertical-align: top;
    list-style: none;
  }

  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-collapse.collapse {
    display: block !important;
    visibility: visible !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    text-align: center;
  }
  .navbar-bg {
    height: 43px;
    margin-bottom: 10px;
  }
  .navbar-center {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar-nav > li > a {
    font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.25;
    font-weight: bold;
    text-transform: uppercase;
  }
  .navbar-nav > li > a {
    border-left: 1px solid #fff;
    padding: 0 25px;
  }

  .navbar-nav > li:first-child > a {
    border-left: 0;
  }

  .navbar-nav > li > a {
    color: #fff;
    text-decoration: none;
  }
